# legacy ant build directories
bin
test-bin

# os-specific files
.DS_Store
*~

# gradle-related files
build
release
.gradle

# Eclipse settings
.classpath
.project
.settings

# IntelliJ settings
.idea

# node-related files
node_modules

**/*.xlsx
GameData

!.gitignore
